.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-12);
  height: var(--input-and-btn-height);
  padding: var(--spacing-12);
  border-radius: var(--border-radius-4);
  font: var(--font-body);

  &--filled {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &--transparent {
    background-color: var(--color-transparent);
    color: var(--color-black); 
  }
}
