.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-12);

  padding: var(--spacing-4) var(--spacing-12);

  border-radius: var(--border-radius-4);
  border: var(--border-width-1) solid var(--color-black);

  font: var(--font-body-small);
}

.chip-filled {

  background-color: var(--color-black);
  color: var(--color-white);
}

.chip--card {
  background-color: var(--color-low-grey);
  color: var(--color-black);
  border: none;
}


.card-chips {
  display: flex;
  gap: var(--spacing-8);
}

.motos-chips {
  display: flex;
  gap: var(--spacing-8);
  margin-bottom: var(--spacing-32);
}