.input {
  height: var(--input-and-btn-height);
  gap: var(--spacing-8);
  border-radius: var(--border-radius-4);
  border: var(--border-width-1) solid var(--color-black);
  padding: 0 var(--spacing-12); 
}
