@import '01-external-reset';
@import '02-tools';
@import '03-tokens';
@import '04-atoms';
@import '05-molecules';


main {
  padding: var(--spacing-64) var(--spacing-32);
}

// header

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-16);
  background-color: var(--color-low-grey);
  z-index: var(--zindex-header);
  position: sticky;
  top: 0;
}

.header__right {
  display: flex;
  align-items: center;
  gap: var(--spacing-12);
}

.header__icon {
  width: pxToRem(70px);
  height: pxToRem(70px);
}


//titulos

.title-h1 {
  font: var(--font-h1);
  margin-bottom: var(--spacing-40);
}


.title-h2 {
  font: var(--font-h2);
  margin-bottom: var(--spacing-40);
}

.title-h3 {
  font: var(--font-h3);
}

//footer

.footer {
  width: 100%;
  padding: var(--spacing-40) var(--spacing-32);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  background-color: var(--color-low-grey);
}

.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-24);
}

.footer__title {
  font: var(--font-h1);
  text-align: center;
}

.footer__subscribe {
  display: flex;
  gap: var(--spacing-12);
  width: 100%;
  max-width: pxToRem(480px);
}

.footer__subscribe .input {
  flex: 1;
}

.footer__divider {
  border: var(--border-width-1) solid var(--color-grey);
  opacity: 0.5;
  margin-left: calc(-1 * var(--spacing-32));
  margin-right: calc(-1 * var(--spacing-32));
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: var(--spacing-24);
}


//card grid

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(pxToRem(300px), 1fr));
  gap: var(--spacing-24);
}